@model Final.ViewModels.AddStudentVM

@{
    ViewData["Title"] = "Create";
}

<h1>Додади нов</h1>

<h4>Запишан студент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Courses" asp-action="Enroll" asp-route-id="@Model.Course.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Course.Id" />
            <div class="form-group">
                <label asp-for="Course.Title" class="control-label">Име</label>
                <input asp-for="Course.Title" class="form-control" />
                <span asp-validation-for="Course.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Студенти</label>
                <select asp-for="SelectedStudents" class="form-control js-example-basic-multiple"
                        asp-items="Model.StudentList"> </select>
                <span asp-validation-for="SelectedStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label">Семестар</label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Година</label>
                <input asp-for="Year" class="form-control" value="0" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Course.Credits" class="control-label">Кредити</label>
                <input asp-for="Course.Credits" class="form-control" />
                <span asp-validation-for="Course.Credits" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Course.Semester" class="control-label">Семестар</label>
                <input asp-for="Course.Semester" class="form-control" />
                <span asp-validation-for="Course.Semester" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Course.Program" class="control-label">Насока</label>
                <input asp-for="Course.Program" class="form-control" />
                <span asp-validation-for="Course.Program" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Course.EducationLevel" class="control-label">Степен</label>
                <input asp-for="Course.EducationLevel" class="form-control" />
                <span asp-validation-for="Course.EducationLevel" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Course.FirstTeacherId" class="control-label">Прв наставник</label>
                <select asp-for="Course.FirstTeacherId" class="form-control" asp-items="ViewBag.FirstTeacherId">
                    <option value="">Одбери</option>
                </select>
                <span asp-validation-for="Course.FirstTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="Course.SecondTeacherId" class="control-label">Втор наставник</label>
                <select asp-for="Course.SecondTeacherId" class="form-control" asp-items="ViewBag.SecondTeacherId">
                    <option value="">Одбери</option>
                </select>
                <span asp-validation-for="Course.SecondTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додади" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад кон листата</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SelectedStudents").select2();
    });
</script>
}
